@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../asset/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../asset/js/bootstrap.min.js"></script>
    <link href="../css/finalsodstyle.css" rel="stylesheet" />
    <link href="../3D_button/3dbtn.css" rel="stylesheet" />
    
    <script type="text/javascript" lang="ja">
   
    $(document).ready(function () {
        sendemail();
    });

    function sendemail() {
        $.ajax({
            url: '../ChangeReq/sendEmailNotification',
            type: 'post',
            success: function () { },
            error: function () { }
        });
    }
    </script>

       <style type="text/css">
        .succesmsg {
            text-align: center;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    </style>
 
 
        <!--------------------------------------------Content---------------->
        <div class="container">
            <div style="padding-top:10%">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12"><div class="succesmsg"> Thank You !</div></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><div class="succesmsg" id="dvMsg">@Html.Raw(@TempData["successmsg"].ToString()) </div></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="three_D2" style="padding-top:100px; padding-bottom:20px; text-align:center"><input type="button" id="btnreturn" value="Return" onclick="window.location.href='@Url.Action("ChangeRequest","ChangeReq")'"  style="width:150px; height:35px; background-color:#b33; border:0px;color:#fff; margin-left:10px; font-size:16px;" /></div>
                </div>
            </div>
        </div>

        <!--------------------------------------------Footer---------------->
        <div style="padding-top:70px;"></div>
        <footer class="essfooter">
            <div class="container"></div>
        </footer>
        <!-- ------------------------------------------END Footer---------------->
 
 
