<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>OAt Booking Request Notification</title>
    <style>
        .fgdtl table td {
            border-right: solid 1px #c2c2c2;
            border-bottom: solid 1px #c2c2c2;
            height: 30px;
            padding-left: 5px;
        }
    </style>
</head>

<body>
    <div style='width:100%; margin:0px;'>
        <table style='width:100%; font-family:Arial; font-size:12px;'>
            <tr>
                <td>
                    <div style='margin:auto; width:800px;  padding:20px; border: 1px solid grey ;'>
                        <section>
                            <div style='font-size:12px; margin-top:16px; padding-left:20px;'>Dear [RequesterName],</div>
                            <div style='font-size: 12px; margin-top: 16px; padding-left: 20px;'>This is with reference to your OAT booking request as mentioned below: </div>
                            <div style='font-size: 16px; font-family:Arial; margin-top: 15px;padding-left: 20px;align-items:center'><b>[binfo]</b></div>
                            <div class='fgdtl' style='font-size: 12px; padding-top: 10px; padding-left: 20px;'>
                                <table cellpadding='0' cellspacing='0' style='width:100%; font-size:12px;border:solid 1px #c2c2c2;line-height:30px;'>
                                    [tr]
                                </table>
                            </div>

                            <div style='font-size: 16px; font-family:Arial; margin-top: 10px;padding-left: 20px;color:#000;align-items:center'><b>[pinfo]</b></div>
                            <div class='fgdtl' style='font-size: 12px; padding-top: 10px; padding-left: 20px;'>
                                <table cellpadding='0' cellspacing='0' style='width:100%; font-size:12px;border:solid 1px #c2c2c2;line-height:30px;'>
                                    [trp]
                                </table>
                            </div>
                            <div style='font-size: 16px; font-family:Arial; margin-top: 10px;padding-left: 20px;color:#000;align-items:center'><b>[finfo]</b></div>
                            <div class='fgdtl' style='font-size: 12px; padding-top: 10px; padding-left: 20px;'>
                                [trf]
                            </div>
                            <div style='font-size: 16px; font-family:Arial; margin-top: 10px;padding-left: 20px;color:#000;align-items:center'><b>[hinfo]</b></div>
                            <div class='fgdtl' style='font-size: 12px; padding-top: 10px; padding-left: 20px;'>
                                [trh]
                            </div>
                            <div style='font-size: 12px; margin-top: 15px; padding-left: 20px;'>
                                <span>Shortly you and HOD’s will be asked to approved the fares, after it has been processed by Traveldesk, You May clink to know the process of OAL.</span><br /></br>
                                <span>If any delay/changes/Cancellation in the flight, kindly update on the portal by clicking cancel or Full refund option in travel history</span><br />
                            </div>

                            <div style="font-size: 12px; margin-top: 25px; padding-left: 20px;">
                                This is a system generated email, do not reply to this email id. <br />
                                Should require any further clarification/assistance, please feel free to get in touch on SpiceJet Traveldesk number: 9711400800  or write an Email – <a style="text-decoration:none;" href="mailto:traveldesk@spicejet.com" target="_blank"> traveldesk@spicejet.com</a>
                            </div>

                            <div style="font-size: 12px; margin-top: 20px; padding-left: 20px;">
                                Assuring you of our best attention at all times.
                            </div>

                            <div style='font-size:12px; margin-top: 30px; padding-left: 20px;'>
                                <b> Thanks & Best Regards </b> <br /> <br />
                                <b> TravelDesk</b> <br />
                                SpiceJet Ltd |320 | Udyog Vihar | Phase IV | Gurgaon - 122016| India<br />
                                Phone:  +91 124-3913939   Extn: 72556  Mobile: 9711400800<br />
                                E-mail id : <a style='text-decoration:none;' href='mailto:traveldesk@spicejet.com' target='_blank'> traveldesk@spicejet.com</a><br />
                                <span style='color:blue'>W: www.spicejet.com F: facebook.com/flyspicejet  T: @flyspicejet</span><br />
                                Download the Official SpiceJet App at Google Play Store and  App Store
                            </div>
                            <div style='margin-left:10px;margin-top:15px;'>
                                <span><img src='https://ess.spicejet.com/sod/images/logo.png' /></span>
                                <span><img src='https://ess.spicejet.com/sod/images/10yrs.png' /></span>
                            </div>
                        </section>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>