@{
    ViewBag.Title = "InclusionMaster";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<html>
<head>
    <title>View Hotel Inclusion Master</title>
    
    <script src="../js/angular/angular.min.js"></script>
    <link href="../asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/finalsodstyle.css" rel="stylesheet" />
    <script src="../js/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/angular/sanitize.js"></script>
    <script src="../js/angular/inclusionJS.js"></script>
    <style type="text/css">
        .modal.modal-wide .modal-dialog {
            width: 72%;
        }

        .modal-wide .modal-body {
            overflow-y: auto;
        }
        /* irrelevant styling */
        .modal-dialog {
            left: 5px;
        }

            .modal-dialog div {
                text-align: center;
            }
        /*.modal-dialog div  p { max-width: 400px;margin: 20px auto;}*/
        .modal-body table tr th {
            /*text-align: Center;*/
            padding: 10px;
        }

        ul > li, a {
            cursor: pointer;
        }

        img {
            cursor: pointer;
        }

        .popuphdtxt {
            font-size: 18px;
            font-family: Swis721 Cn BT,Sans-Serif;
            padding-bottom: 1px;
            padding-top: 1px;
        }

        .flighdtl {
            width: 100%;
            border: 1px solid #c2c2c2;
        }

        .popheadcolor {
            background-color: #EE1D23;
            color: #fff;
            font-family: Swis721 Cn BT,Sans-Serif;
        }

        .inputremark {
            width: 99%;
            height: 30px;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            /*text-align: center;*/
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .radio_space {
            padding-left: 5px;
        }

        .pop_left_space {
            margin-left: -12px;
        }

        .header_white_color {
            color: #fff;
        }

        .flighdtl_Bk_request {
            width: 100%;
        }

            .flighdtl_Bk_request td {
                border: solid 1px #c2c2c2;
                padding: 6px;
            }

        .tbwidth100 {
            width: 100%;
        }

        .tabletextleft td {
            text-align: left;
            padding-left: 10px;
        }
        .modal.modal-wide .htmastermodepwidth{width:90%;}
    </style>
</head>
<body>
    <div ng-app="InclusionApp" ng-controller="InclusionCtrl" ng-init="paginit('')" ng-cloak>

        <div>
            <div class="admin_content_txtheading"> View Hotel Inclusion Master</div>
        </div>

        <section class="content">
            <div class="Alladmin_content_box">
                <div class="row">
                    <div class="col-md-1">
                        <div class="search-title-master">  Search :</div>
                    </div>
                    <div class="col-md-5">
                        <div  class="master-search-control-gap">
                            <input class="form-control" type="text" ng-model="search" ng-change="filter();" placeholder="Filter" />
                        </div>
                      
                    </div>
                </div>
            </div>


            <div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            S.No. &nbsp;<a ng-click="sort_by('Id');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            Hotel Name &nbsp;<a ng-click="sort_by('HotelName');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            Location &nbsp;<a ng-click="sort_by('Location');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            Accomodation &nbsp;<a ng-click="sort_by('Accomodation');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr ng-repeat="list in filtered= (incList | filter: search| orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td>{{list.Id}}</td>
                        <td>{{list.HotelName}}</td>
                        <td>{{list.Location}}</td>
                        <td>{{list.Accomodation}}</td>
                        <td><a data-toggle="modal" href="#viewdetailModal" class="csod" ng-click="viewdetail(list.Id)">View Detail</a></td>
                    </tr>
                </table>
            </div>

            <div>
                <div class="col-md-12" style="margin-top:-25px;">
                    <div pagination total-items="filteredItems" page="currentPage" ng-model="entryLimit" max-size="10" on-select-page="setPage(page)" class="pagination-sm" boundary-link-numbers="true" rotate="false"></div>
                </div>
            </div>
        </section>
        



        <div id="viewdetailModal" class="modal modal-wide fade">
            <div class="modal-dialog htmastermodepwidth">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title"><span class="viewlistcs">Hotel Inclusion Details</span></h4>
                    </div>
                    <div class="modal-body">
                        <table id="tblbookinginfo" class="flighdtl table table-striped table-bordered">
                            <tr class="popheadcolor">
                                <th>Location</th>
                                <th>Hotel Name</th>
                                <th>Accomodation</th>
                                <th>Food</th>
                            </tr>
                            <tr id="txtHeader1" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td>{{blist.Location}}</td>
                                <td>{{blist.HotelName}}</td>
                                <td>{{blist.Accomodation}}</td>
                                <td>{{blist.Food}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow1" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td><input type="text" readonly="readonly" style="border:none;" value="{{blist.Location}}" id="txtlocation" class="inputremark" /></td>
                                <td><input type="text" readonly="readonly" style="border:none;" value="{{blist.HotelName}}" id="txtname" class="inputremark"></td>
                                <td><input type="text" value="{{blist.Accomodation}}" id="txtacc" class="inputremark"></td>
                                <td><input type="text" value="{{blist.Food}}" id="txtfood" class="inputremark"></td>

                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="popheadcolor">

                                <th>Airport Transfers</th>
                                <th colspan="2">Room Service</th>
                                <th>Buffet Time</th>
                            </tr>
                            <tr id="txtHeader2" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">

                                <td>{{blist.AirportTransfers}}</td>
                                <td colspan="2">{{blist.RoomService}}</td>
                                <td>{{blist.BuffetTime}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow2" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td><input type="text" value="{{blist.AirportTransfers}}" id="txtairtransfer" class="inputremark"></td>
                                <td><input type="text" value="{{blist.RoomService}}" id="txtroomservice" class="inputremark"></td>
                                <td colspan=" 2"><input type="text" value="{{blist.BuffetTime}}" id="txtbuffet" class="inputremark"></td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="popheadcolor">
                                <th>Laundry</th>
                                <th colspan="2">Amenities</th>
                                <th>Drinking Water</th>
                            </tr>
                            <tr id="txtHeader3" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td>{{blist.Laundry}}</td>
                                <td colspan="2">{{blist.Amenities}}</td>
                                <td>{{blist.DrinkingWater}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow3" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td><input type="text" value="{{blist.Laundry}}" id="txtlaundry" class="inputremark" /></td>
                                <td><input type="text" value="{{blist.Amenities}}" id="txtamnities" class="inputremark"></td>
                                <td colspan="2"><input type="text" value="{{blist.DrinkingWater}}" id="txtdrinkingwater" class="inputremark"></td>

                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="popheadcolor">
                                <th>Wifi</th>
                                <th>Tea Maker</th>
                                <th>Newspaper</th>
                                <th>Discount (If any)</th>
                            </tr>
                            <tr id="txtHeader4" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td>{{blist.WiFi}}</td>
                                <td>{{blist.TeaMaker}}</td>
                                <td>{{blist.Newspaper}}</td>
                                <td>{{blist.Discount}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow4" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td><input type="text" value="{{blist.WiFi}}" id="txtwifi" class="inputremark"></td>
                                <td><input type="text" value="{{blist.TeaMaker}}" id="txttea" class="inputremark"></td>
                                <td><input type="text" value="{{blist.Newspaper}}" id="txtnewsppr" class="inputremark"></td>
                                <td><input type="text" value="{{blist.Discount}}" id="txtdiscount" class="inputremark"></td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="popheadcolor">
                                <th>Checkin-Out (12Hrs./24Hrs.)</th>
                                <th colspan="2">Retention on Cancellation Applicable?</th>
                                <th>Spouse Stay Applicable?</th>
                            </tr>
                            <tr id="txtHeader5" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td>{{blist.CheckinOutHours}}</td>
                                <td colspan="2">{{blist.RetentionCancellation}}</td>
                                <td>{{blist.SpouseStay}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow5" ng-repeat="blist in hotelIncList" style="text-align:left;padding:2px;">
                                <td><input type="text" value="{{blist.CheckinOutHours}}" id="txtcheckinouthrs" class="inputremark" /></td>
                                <td colspan="2"><input type="text" value="{{blist.RetentionCancellation}}" id="txtretention" class="inputremark"></td>
                                <td><input type="text" value="{{blist.SpouseStay}}" id="txtspousestay" class="inputremark"></td>
                            </tr>
                            <tr>
                                <td colspan="7" id="editbtntd">
                                    <input type="button" value="Edit" class="btn btn-warning btn-sm" ng-click="editRow();" style="background-color: #EE1D23; border-color: #EE1D23;visibility:hidden;" /> &nbsp; &nbsp;
                                </td>
                                <td hidden="hidden" id="updatebtntd" colspan="7">
                                    <input type="button" id="btnupdate" value="Update" class="btn btn-warning btn-sm" ng-click="updateRow(hotelIncList[0].Id);" style="background-color: #EE1D23; border-color: #EE1D23;visibility:hidden;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" data-dismiss="modal">Close</button>
                    </div>*@
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div id="viewdetailModalIncHotel" class="modal modal-wide fade">
            <div class="modal-dialog htmastermodepwidth">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title"><span class="viewlistcs">Add Hotel Inclusion</span></h4>
                    </div>
                    <div class="modal-body">
                        <table class="flighdtl_Bk_request" id="tblhotelincNew">
                            <tr>
                                <td colspan="1">Hotel Name:</td>
                                <td colspan="2">
                                    <select class="inputremark" id="txthotelname" style="text-align:left;" onchange=""></select>
                                </td>
                                <td colspan="1">Location/City Code:</td>
                                <td colspan="1">
                                    <select class="inputremark" id="txtcitycode" style="text-align:left;" onchange=""></select>
                                </td>
                                <td colspan="1"><input type="button" id="btnShowDetail" ng-click="ShowDetail();" value="Add Inclusion" class="btn btn-warning btn-sm"></td>
                            </tr>
                            <tr id="hoteldetailsOnSelection" hidden="hidden">
                                <td colspan="6">
                                    Hotel Address: {{address}} <br />
                                    Hotel Phone: {{phone}}<br />
                                    Hotel Email: {{emailid}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Accomodation:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtaccom" id="txtaccom" required />
                                </td>
                                <td colspan="1">Food:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="foodtxt" id="foodtxt" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Airport Transfers:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtair" id="txtair" required />
                                </td>
                                <td colspan="1">Room Service:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtroomServ" id="txtroomServ" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Buffet Time:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtbuffetTym" id="txtbuffetTym" required />
                                </td>
                                <td colspan="1">Laundry:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtlau" id="txtlau" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Amenities:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtamn" id="txtamn" required />
                                </td>
                                <td colspan="1">Wifi:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtwf" id="txtwf" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Drinking water:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtwater" id="txtwater" required />
                                </td>
                                <td colspan="1">Tea Maker:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtteamaker" id="txtteamaker" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Newspaper:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtnews" id="txtnews" required />
                                </td>
                                <td colspan="1">Discount (if any):</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtdis" id="txtdis" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Checkin-out (12 hrs./24 hrs.):</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtchckinout" id="txtchckinout" required />
                                </td>
                                <td colspan="1">Retention on Cancellation Applicable?</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtret" id="txtret" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">Spouse Stay Applicable?</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" id="txtspouse" />
                                </td>
                                <td colspan="3"></td>

                            </tr>
                            <tr id="addinclusionbutton">
                                <td colspan="6">
                                    <input type="button" id="btnAddInc" value="Add Inclusion" class="btn btn-warning btn-sm" ng-click="addRow();" style="background-color: #EE1D23; border-color: #EE1D23;" />
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

