<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>Sod Booking Acknowledgement</title>
</head>

<body>
    <div style='width:100%; margin:0px;'>
        <div style='margin:auto; width:600px; height:600px; border:solid 1px #C9252C;'>
            <header style='width:600px; height:150px; background-color:#C9252C; padding:0px;'>
                <div>
                    <img src='../images/logo_round_spicejet.png' alt='' style='margin-left: 10px; margin-top: 10px;'/>
                </div>
            </header>
            <section>
                
                <div style='font-size:17px; padding-top:25px; padding-left:20px;' >Dear Employee,</div>
                <div style='font-size: 17px; padding-top: 25px; padding-left: 20px;'>Thanks for your request .</div>
                <div style='font-size: 17px; padding-top: 25px; padding-left: 20px;'>
                    We have received your request and will revert you back. ,
                </div>

                <div style='font-size: 17px; padding-top: 25px; padding-left: 20px;'>
                    In case you do not get any reply within stipulated time kindly send a direct mail to sod@spicejet.com .
                </div>

                <div style='font-size: 17px; padding-top: 25px; padding-left: 20px;'>
                    Thanks once again and hope to fly with us soon.
                </div>

                <div style='font-size: 17px; padding-top: 135px; padding-left: 20px;'>
                    Thanks & Best Regards <br />
                    Spicejet Sod Tem.<br/>
                    </div>
</section>
        </div>
    </div>

</body>
</html>
