
@{
    ViewBag.Title = "Sod | BlanketBooking";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Allocate Blanket</h2>


<div class="main_partadm">
    <section class="section_part">
        <div class="part_left_adm">
            <div style="margin-top:20px;">
                <span class="part_txt">Department</span> <span>
                <select>
                <option>Accounts</option><option>Marketing</option><option>IT</option>
                </select>
                </span>
            </div>
        </div>
        <div class="part_right_adm">
            <div style="margin-top: 20px;">
                <span class="part_txt">Employee Id</span> <span><select><option>Accounts</option>
                <option>Marketing</option><option>IT</option></select></span> <span class="searchbtnadm">
                 <input type="button" value="Search" />
            </span> 
            </div></div>
        <div>
            <table style="width: 90%; line-height: 40px;">
                <tr>
                    <td>Shahid</td>
                    <td>adasdasd</td>
                    <td>a12-asnd14asdasd</td>
                </tr>
            </table>
        </div>
        <div class="savebtn"> <p style="margin:auto; width:100px; "><input type="button" value="Save" /></p></div>

    </section>

</div>
