
@{
    ViewBag.Title = "SOD Hotel | City Master";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<html>
<head>
    <title>SOD Hotel | City Master</title>
    <script src="../js/angular/angular.min.js"></script>
    <link href="../asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/finalsodstyle.css" rel="stylesheet" />
    <script src="../js/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/angular/sanitize.js"></script>
    <script src="../js/angular/cityMaster.js"></script>

    <style type="text/css">
        .modal.modal-wide .modal-dialog {
            width: 72%;
        }

        .modal-wide .modal-body {
            overflow-y: auto;
        }
        /* irrelevant styling */
        .modal-dialog {
            left: 5px;
        }

            .modal-dialog div {
                text-align: center;
            }
        /*.modal-dialog div  p { max-width: 400px;margin: 20px auto;}*/
        .modal-body table tr th {
            /*text-align: Center;*/
            padding: 10px;
        }

        ul > li, a {
            cursor: pointer;
        }

        img {
            cursor: pointer;
        }

        .popuphdtxt {
            font-size: 18px;
            font-family: Swis721 Cn BT,Sans-Serif;
            padding-bottom: 1px;
            padding-top: 1px;
        }

        .flighdtl {
            width: 100%;
            border: 1px solid #c2c2c2;
        }

        .popheadcolor {
            background-color: #EE1D23;
            color: #fff;
            font-family: Swis721 Cn BT,Sans-Serif;
        }

        .inputremark {
            width: 99%;
            height: 30px;
            padding: 5px;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            /*text-align: center;*/
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .radio_space {
            padding-left: 5px;
        }

        .pop_left_space {
            margin-left: -12px;
        }

        .header_white_color {
            color: #fff;
        }

        .flighdtl_Bk_request {
            width: 100%;
        }

            .flighdtl_Bk_request td {
                border: solid 1px #c2c2c2;
                padding: 6px;
            }

        .tbwidth100 {
            width: 100%;
        }

        .tabletextleft td {
            text-align: left;
            padding-left: 10px;
        }

        .modal.modal-wide .htmastermodepwidth {
            width: 50%;
        }
    </style>
</head>
<body>
    <div ng-app="MasterApp" ng-controller="cityMasterCtrl" ng-init="paginit('')" ng-cloak>

        <div>
            <div class="admin_content_txtheading">City Master</div>
        </div>

        <section class="content">
            <div id="space-hr" class="Alladmin_content_box">
                <div class="row">
                    <div class="col-md-1">
                        <div class="paddingtop05"> Search :</div>
                    </div>
                    <div class="col-md-4">
                        <div> <input class="form-control" type="text" ng-model="search" ng-change="filter();" placeholder="Filter" /></div>
                    </div>
                    <div class="col-md-7">
                        <div style="text-align:right;">
                            <a id="btnAdd" data-toggle="modal" ng-click="clearFields();" href="#viewdetailModalofCity" class="btn btn-warning btn-sm" style="background-color: #EE1D23; border-color: #EE1D23;">
                                Add city
                            </a>
                        </div>
                    </div>
                </div>

                <hr />
                <table class="table table-striped table-bordered">

                    <tr>
                        <th>
                            Sr.No. &nbsp;<a ng-click="sort_by('Id');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            City Code &nbsp;<a ng-click="sort_by('CityCode');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            City Name &nbsp;<a ng-click="sort_by('CityName');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            City type &nbsp;<a ng-click="sort_by('Type');"><i class="glyphicon glyphicon-sort"></i></a>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr ng-repeat="list in filtered= (cityList | filter: search| orderBy : predicate :reverse)| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit ">
                        <td>{{list.Id}}</td>
                        <td>{{list.CityCode}}</td>
                        <td>{{list.CityName}}</td>
                        <td>{{list.Type}}</td>
                        <td>
                            <a data-toggle="modal" href="#viewdetailModal" class="csod" ng-click="viewdetail(list.Id)">View Detail</a>
                            @*<a class="csod" ng-click="Deletedetails(list.Id)">Delete</a></td>*@
                    </tr>
                </table>

                <div class="row">
                    <div class="col-md-12" style="margin-top:-25px; z-index:0;">
                        <div pagination total-items="filteredItems" page="currentPage" ng-model="entryLimit" max-size="10" on-select-page="setPage(page)" class="pagination-sm" boundary-link-numbers="true" rotate="false"></div>
                    </div>
                </div>

            </div>

           
        </section>


       

        <div id="viewdetailModal" class="modal modal-wide fade">
            <div class="modal-dialog htmastermodepwidth">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title"><span class="viewlistcs">City Details</span></h4>
                    </div>
                    <div class="modal-body">
                        <table id="tblbookinginfo" class="flighdtl table table-striped table-bordered">
                            <tr class="popheadcolor">
                                <th>city Name</th>
                                <th>city Code</th>
                                <th>City Type</th>
                            </tr>
                            <tr id="txtHeader1" style="text-align:left;padding:2px;">
                                <td>{{viewCityDetail[0].CityName}}</td>
                                <td>{{viewCityDetail[0].CityCode}}</td>
                                <td>{{viewCityDetail[0].Type}}</td>
                            </tr>
                            <tr hidden="hidden" id="txtRow1" style="text-align:left;padding:2px; ">
                                <td style="padding-left: 1px;"><input type="text" value="{{viewCityDetail[0].CityName}}" id="txtname" class="inputremark" maxlength="150" required></td>
                                <td style="padding-left: 1px; width: 30%;"><input type="text" value="{{viewCityDetail[0].CityCode}}" id="txtcode" class="inputremark" maxlength="4" required /></td>

                                <td style="padding-left: 1px;">
                                    <select class="inputremark" id="txttype" ng-model="viewCityDetail[0].Type">
                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="7" id="editbtntd">
                                    <input type="button" value="Edit" class="btn btn-warning btn-sm" ng-click="editRow();" style="background-color: #EE1D23; border-color: #EE1D23;" /> &nbsp; &nbsp;
                                </td>
                                <td hidden="hidden" id="updatebtntd" colspan="7">
                                    <input type="button" id="btnupdate" value="Update" class="btn btn-warning btn-sm" ng-click="updateRow(viewCityDetail[0]);" style="background-color: #EE1D23; border-color: #EE1D23;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" data-dismiss="modal">Close</button>
                    </div>*@
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div id="viewdetailModalofCity" class="modal modal-wide fade">
            <div class="modal-dialog htmastermodepwidth">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title"><span class="viewlistcs">Add New City</span></h4>
                    </div>
                    <div class="modal-body">
                        <table class="flighdtl_Bk_request table table-striped" id="tblhotelincNew">
                            <tr>
                                <td colspan="1">City Code:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtcitycode" id="txtcitycode" maxlength="4" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">City Name:</td>
                                <td colspan="2">
                                    <input type="text" class="inputremark" ng-model="txtcityname" id="txtcityname" maxlength="150" required />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1"> City Type:</td>
                                <td colspan="2">
                                    <select class="inputremark" ng-model="txtcitytype" id="txtcitytype" style="text-align:left;">
                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6">
                                    <input type="button" id="btnAddInc" value="Add City" class="btn btn-warning btn-sm" ng-click="addRow();" style="background-color: #EE1D23; border-color: #EE1D23;" />
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
</html>

