<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>Sod SJSC Registration Varification</title>
    <style>
        .fgdtl table td {
            border-right: solid 1px #c2c2c2;
            height: 30px;
            padding-left: 5px;
        }
    </style>
</head>

<body>
    <div style='width:100%; margin:0px;'>
        <table style='width:100%; font-family:Arial; font-size:12px;'>
            <tr>
                <td>
                    <div style='margin:auto; width:800px;padding-bottom:20px;'>
                        <section>
                            <div style='font-size:12px; margin-top:16px; padding-left:20px;'>Dear [userName],</div>
                            <div style='font-size: 12px; margin-top: 16px; padding-left: 20px;'>
                                <h4>We received a request to reset your Account password.</h4><br />

                                Please click on the below button to reset your Password<br />
                                [hrefLink]
                            </div>


                            <div class='fgdtl' style='font-size: 12px; padding-top: 10px; padding-left: 20px;'>

                                User Name : [UserId]<br />
                            </div>

                            <div style='font-size: 12px; margin-top: 18px; padding-left: 20px;'>
                                Should require any further clarification/assistance, please feel free to get in touch on SOD helpdesk number : + 0124 6709400 or write an Email – <a style='text-decoration:none;' href='mailto:sod.travel@spicejet.com' target='_blank'> sod.travel@spicejet.com</a>
                            </div>

                            <div style='font-size: 12px; margin-top: 18px; padding-left: 20px;'>
                                Assuring you of our best attention at all times.
                            </div>

                            <div style='font-size:12px; margin-top: 25px; padding-left: 20px;'>
                                <b> Thanks & Best Regards </b> <br /> 
                                <b> SOD HelpDesk</b> <br />
                                <b> SpiceJet Ltd</b> |319 | Udyog Vihar | Phase IV | Gurgaon - 122016| India<br />
                                Phone # +91-1246709400 <br />
                                E-mail id : <a style='text-decoration:none;' href='mailto:sod.travel@spicejet.com' target='_blank'> sod.travel@spicejet.com</a><br />
                                <span style='color:blue;'>W: www.spicejet.com F: facebook.com/flyspicejet  T: @flyspicejet </span> <br />
                                Download the Official SpiceJet App at Google Play Store and  App Store
                            </div>
                            <div style='margin-left:10px;margin-top:15px;'>
                                <span><img src='http://ess.spicejet.com/sod/images/logo.png' /></span>
                                <span><img src='http://ess.spicejet.com/sod/images/10yrs.png' /></span>
                            </div>
                        </section>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
