
@{
    ViewBag.Title = "Admin | Dashboard";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="http://www.spicejet.com/images/favicon9.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="../Assest/css/bootstrap.min.css">
    <script type="text/javascript" src="../Assest/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Sod</title>
    <style>
        .content{ padding-top:5px!important;}
    </style>
</head>

<body>
    <div class="mainDv">
        <div>
            <div class="admin_content_txtheading">  Dashboard</div>
        </div>
        <!------------------------- Content part-------------------- -->
        <section class="content">
            <div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="inovationinavtn">
                            <div class="nameprofile">Approvers List</div>
                            <div style="text-align:center; margin-top:10px;"><a href="#"><img src="~/images/myprofile_icon.png" /></a> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="myprofile">
                            <div class="nameprofile">Blanket List</div>
                            <div style="text-align:center; margin-top:10px;"> <span><a href="#"><img src="~/images/myprofile_icon.png" /></a></span> </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="findingyway">
                            <div class="nameprofile">CXO Dept. Mapping</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-map-marker"></i></a> </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="media_dv">
                            <div class="nameprofile">Sync EMDM Data</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-file"></i>@*<img src="~/images/media_icon.png" />*@</a> </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="discussionform">
                            <div class="nameprofile">Assign User Role</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-user"></i></a> </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="eventcalender">
                            <div class="nameprofile">Sync Dynamic Sector</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-th-large"></i></a> </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="carrers">
                            <div class="nameprofile">User Menu Rights</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-th-list"></i></a> </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="socialmedia">
                            <div class="nameprofile">Employee Api List</div>
                            <div class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-th"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inovationinavtn">
                            <div class="nameprofile">Change Password</div>
                            <div  class="dasboard-icon"><a href="#"><i class="glyphicon glyphicon-lock"></i> </a></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">


        </div>
        <!-------------------------End Content part-------------------- -->

    </div>

</body>
</html>

