
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var oldpwd = $("#txtoldpwd").val();
            var password = $("#txtpwd").val();
            var confirmPassword = $("#txtcfpwd").val();
            if (oldpwd === "") {
                alert("Old Password can not be empty.");
                $("#txtoldpwd").focus();
                return false;
            }
            else if (password === "") {
                alert("Password can not be empty.");
                $("#txtpwd").focus();
                return false;
            }
            else if (confirmPassword === "") {
                alert("Confirm Password can not be empty.");
                $("#txtcfpwd").focus();
                return false;
            }
            else if (password !== confirmPassword) {
                alert("Password and Confirm Password do not match.");
                $("#txtcfpwd").focus();
                return false;
            }
            return true;
        });
    });
</script>

<style>
   

     .appbtn {
        margin-left: 0px;
    }

        .appbtn input {
            margin-left: 0px;
            background-color: #EE1D23;
          /*  height: 35px;
            width: 150px;*/
            padding:3px 40px 0px 39px;
            color: #fff;
            border: 0px;
            margin-top: 10px;
        }
    .inputhiglight input:focus {  background-color:#FDE3E3; border:solid 1px #c2c2c2; }
</style>




<div>
    <div>
        <div class="admin_content_txtheading">Change Password</div>
    </div>
</div>

<section class="content">
        
        <form id="login" action="~/Login/UpdatePassword" method="post">
            <span style="color: red; margin-left: 50px;"> @ViewBag.LoginFailMessage</span>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="admin_content_box">

                        <div style="margin:20px;">

                            <div class="row form-group">
                                <div class="col-md-4 col-xs-4">
                                    <div>User Id :</div>
                                </div>
                                <div class="col-md-8">
                                    <div>@Session["user"] </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div>Old Password :</div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <input type="password" name="txtoldpwd" placeholder=" " maxlength="20" id="txtoldpwd" class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div>New Password :</div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <input type="password" placeholder=" " maxlength="20" id="txtpwd" class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div>Confirm Password :</div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <input name="txtcfpwd" placeholder=" " id="txtcfpwd" type="password" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div style="text-align:center;">
                                        <input type="submit" value=" Save " id="btnSubmit" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
       
</section>




