
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="http://www.spicejet.com/images/favicon9.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Loginregister</title>
</head>
<body>
    <div> fhdfhfhfgh
    </div>
</body>
</html>
