
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="http://www.spicejet.com/images/favicon9.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Sod |Reset Password</title>
    <link href="../asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../asset/js/bootstrap.min.js"></script>
    <link href="../css/finalsodstyle.css" rel="stylesheet" />
    <script src="../asset/js/bootstrap.min.js"></script>
    <script src="../js/angular/angular.min.js"></script>
    <style type="text/css">
        .succesmsg {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .PasswordDiv {
            padding-top: 10%;
            margin: 10PX;
            width: 30%;
            margin-left: 35%;
        }

        @@media screen and (max-width: 992px) {
            .PasswordDiv {
                padding-top: 10%;
                margin: 5PX;
                width: 100%;
                margin-left: 10px;
            }
        }
    </style>
    <script>
        var app = angular.module("SjsisIndex", []);
        app.controller("SjsisIndexCtrl", function ($scope, $http) {
            $scope.right = false;

            $scope.PasswordInfoUpdate = function (data) {
                $('.loader').show();
                $scope.disable = true;
                $scope.submitted = true;
                $scope.samePassword = false;
                if ($scope.PasswordInfoForm.$valid && (data.NewPwd == data.ConfirmPwd)) {
                    var result = confirm("Are you sure to change your Password?");
                    if (result) {
                        $http({
                            method: "POST",
                            url: "../SjSisBooking/ResetPassword",
                            data: JSON.stringify({ UserData: data }),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8'
                        }).then(function mySucces(response) {
                            alert(JSON.parse(response.data));
                            $('.loader').hide();
                            $scope.right = true;
                        }, function myError(response) {
                            alert('Error: Invalid request processing...');
                            $('.loader').hide();
                        });
                    }
                    else {
                        $scope.disable = false;
                        $('.loader').hide();
                    }
                }
                else {
                    $scope.disable = false;
                    $('.loader').hide();
                    return;
                }
                $scope.submitted = false;
                $scope.samePassword = false;
                $scope.wrongCurPssword = false;
                $scope.PasswordInfoForm.$setPristine();
            };
            $scope.resetForm = function () {
                $scope.Pwd = {};
            }
        });
    </script>
</head>

<body ng-app="SjsisIndex" ng-controller="SjsisIndexCtrl">
    <div>
        <div class="bookingheadr">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"><div class="logoheader"><img src="../img/logo_spicejet.png" /> </div></div>
                    <div class="col-md-4"><div class="txtSODNSOD"></div></div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>
        <!--------------------------------------------Content---------------->
        <div class="container">
            @if ((string)TempData["jsonmsg"] == "")
            {
                <div class="PasswordDiv">
                    <div class="row">
                        <div class="col-md-12 text-center text-danger">
                            <h1>Reset Password</h1>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div id="PasswordInfoDiv">
                                    <div class="panel panel-default" style="margin-top:10px">
                                        <div class="panel-body">
                                            <form name="PasswordInfoForm" novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="form-group" ng-class="{ 'has-error' : PasswordInfoForm.NewPassword.$invalid &amp;&amp; submitted }">
                                                                New Password
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                                    <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required" name=" NewPassword" value="" placeholder="Please enter new Password" ng-model="Pwd.NewPwd" required="">
                                                                </div>
                                                                <p ng-show="PasswordInfoForm.NewPassword.$invalid && submitted" class="help-block ng-hide">This field is required.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" ng-class="{ 'has-error' :( PasswordInfoForm.confPassword.$invalid || (Pwd.NewPwd != Pwd.ConfirmPwd) ) &amp;&amp; submitted}">
                                                                Confirm New Password
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                                    <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required" name="confPassword" ng-model="Pwd.ConfirmPwd" placeholder="Please enter confirm Password." required="" password-verify="">
                                                                </div>
                                                                <p ng-if="submitted && (Pwd.NewPwd != Pwd.ConfirmPwd) && !PasswordInfoForm.confPassword.$error.required" class="help-block">Password not Match</p>
                                                                <p ng-if="PasswordInfoForm.confPassword.$error.required && submitted" class="help-block">This field is required.</p>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row" style="margin: 10px;">
                                                    <div class="col-12">
                                                        <a href="../SJSisBooking/Login"> Go For Log - in &nbsp;<span ng-if="right"><img src="../img/right.jpg" height="15" width="15" title="Status" /></span></a>
                                                        <button type="submit" href="#" class="btn btn-danger pull-right " ng-click="PasswordInfoUpdate(Pwd)" ng-disabled="disable"><i class="glyphicon glyphicon-log-in"></i> Update</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="padding-top:10%">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="succesmsg" id="dvMsg" style="display: flex; align-items: center; justify-content: center;">
                                    @Html.Raw(@TempData["jsonmsg"].ToString())
                                </div>
                                <div class="succesmsg" id="dvMsg" style="display: flex; align-items: center; justify-content: center;">
                                    <a href="../SJSisBooking/Login" style="color: #2a6496;
                                text-decoration: underline;">Please lick here to login the portal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div style="padding-top:100px; padding-bottom:20px; text-align:center">
                    </div>
                </div>
            </div>
        </div>
        <div class="loader" style="top:45%">
            <center>
                <img class="loading-image" src="../images/loading.gif" alt="loading..">
            </center>
        </div>

        <!--------------------------------------------Footer---------------->
        <div style="padding-top:70px;"></div>
        <footer class="essfooter">
            <div class="container"></div>
        </footer>
        <!-- ------------------------------------------END Footer---------------->
    </div>

</body>
</html>
