@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Only Hotels |Booking";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*<link rel="shortcut icon" href="http://www.spicejet.com/images/favicon9.ico" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SOD-SJSC | Only Hotels Booking</title>
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../New_Calender/src/calender_jquery.daterange.js"></script>
    <link href="../New_Calender/calender.css" rel="stylesheet" />
    <script src="../Dropdownmenu/jquery-1.9.1.js"></script>
    <script src="../Dropdownmenu/jquery-ui.js"></script>
    <link href="../Dropdownmenu/jquery-ui.css" rel="stylesheet" />
    <link href="../css/finalsodstyle.css" rel="stylesheet" />
    <link href="../css/MenuHeader.css" rel="stylesheet" />
    <script src="../js/jsvalidation.js"></script>
    @*<link href="../css/SODstyle.css" rel="stylesheet" />*@
    <link href="../3D_button/3dbtn.css" rel="stylesheet" />
    <script src="../js/timerpickerJS.js"></script>
    <link href="../css/timepicker.css" rel="stylesheet" />
    <link href="../css/radiobtn.css" rel="stylesheet" />
    <link href="../css/responsive.css" rel="stylesheet" />
    <link href="../css/Login.css" rel="stylesheet" />
    <script src="../js/select2/select2.min.js"></script>
    <link href="../css/select2/select2.min.css" rel="stylesheet" />
    @*<script src="../asset/js/bootstrap.min.js"></script>*@
    <script src="../js/angular/angular.min.js"></script>
    <script src="../js/angular/sanitize.js"></script>
    <script src="../js/SJCons.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script>
        $(document).ready(function () {

            $('.timepicker').wickedpicker({
                twentyFour: false, title:
                    'Select Time', showSeconds: false
            });
        });
    </script>
    <script>
        function showimage() {
            $('#place-image').show();
        };
        function hideimage() {
            $('#place-image').hide();
        };
    </script>
    <style>

        .headcolor td {
            text-align: center;
            border-left: solid 1px #c2c2c2;
            background-color: #EE1D23;
            color: #fff;
            height: 35px;
        }

        .rowcolor {
            text-align: center;
            border-left: solid 1px #c2c2c2;
            border-bottom: solid 1px #c2c2c2;
            line-height: 22px;
            height: 30px;
        }

        .submitbtn {
            background-color: #EE1D23;
            color: #fff;
        }

        tr:nth-child(even) {
            background: #fff;
        }

        tr:nth-child(odd) { /*background: #f9f9f9;*/
        }

        .selected {
            background-color: #A1DCF2;
        }

        #ddlacType {
            border-radius: 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
            color: #666;
            font-size: 12px;
            height: 30px;
            padding: 0px 0px 0px 0px;
            text-indent: 0px;
            border: solid 1px #e0e0e0;
        }

        .warning-label {
            font-size: 12px;
            font-weight: normal;
            padding-left: 10px;
            color: red;
        }

        .ui-menu-item {
            width: 25% !important;
            float: left;
        }

        .button {
            background-color: #EB1217;
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {
            border-radius: 4px;
        }

        #errmsg {
            color: red;
        }

        #errtxt-pickup {
            color: red;
        }

        .helpimg {
            text-align: center;
            display: none;
            position: absolute;
            z-index: 9999;
            right: 5%;
        }

        .madatoryImg {
            color: red;
        }

        .updateCustBtn {
            text-align: left;
            padding: 10Px;
            background-color: #e4e4e4;
            color:#000;
        }

        .UnderLineOnHover:hover {
            text-decoration: underline !important;
        }
        .content_subheader_txt {
            color: #000;
            padding: 5px;
            text-align: left;
            font-size: 20px;
        }
       
    </style>
</head>
<body ng-app="SjsisIndex" ng-controller="SjsisIndexCtrl" ng-cloak>
    <div class="content_header_txt">
        <div> View and Update Profile </div>
    </div>
    <div class="container">
        <div id="maindiv" class="content_inner_box_topborder" style="margin-top: 50px;width: 100%;padding:10px">
            <div style="line-height:35px;">
                <div class="content_subheader_txt">
                    <div>View/Edit Personal Details</div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="SeeMore2" style="padding: 10Px;"><i class="glyphicon glyphicon-plus"> </i> Edit Personal Details</span> </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="=row">
                                    <div class="col-12" style="margin-bottom:15Px;">                                    
                                        <form name="PersonalInfoForm" novalidate>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.EmpCode.$invalid && submitPersonalInfo }">
                                                            Employee Code/ID
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                                <input type="text" name="EmpCode" class="form-control" placeholder="Please fill employee id" ng-model="userInfo.EmpCode" value="" required>
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.EmpCode.$error.required && submitPersonalInfo" class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.verticals.$invalid && submitPersonalInfo  }">
                                                            SJSC Vertical Code/ID
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                                <select class="form-control" ng-model="userInfo.SJSCVerticalID" name="verticals" required>
                                                                    <option value="">-- Please select --</option>
                                                                    <option value="{{x.VerticalID}}" ng-repeat="x in VList">{{x.VerticalName}}</option>
                                                                </select>
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.verticals.$invalid && submitPersonalInfo " class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.fName.$invalid && submitPersonalInfo  }">
                                                            First Name
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                                <span style="display: flex;">
                                                                    <select class="form-control" ng-model="userInfo.Title" name="title" style="width:43%" required>
                                                                        <option value="Mr">Mr</option>
                                                                        <option value="Ms">Ms</option>
                                                                    </select>
                                                                    <input type="text" class="form-control" name="fName" placeholder="Please fill First Name" ng-model="userInfo.FirstName" value="" required />
                                                                </span>
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.fName.$invalid && submitPersonalInfo " class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.lName.$invalid && submitPersonalInfo  }">
                                                            Last Name
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                                <input type="text" class="form-control" name="lName" value="" placeholder="Please fill Last Name" ng-model="userInfo.LastName" required />
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.lName.$invalid && submitPersonalInfo " class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.designation.$invalid && submitPersonalInfo  }">
                                                            Designation
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                                <input type="text" class="form-control" name="designation" value="" placeholder="Please fill Designation" ng-model="userInfo.Designation" required />
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.designation.$invalid && submitPersonalInfo " class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : PersonalInfoForm.Deprt.$invalid && submitPersonalInfo  }">
                                                            Department
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
                                                                <input type="text" class="form-control" name="Deprt" value="" placeholder="Please fill Department" ng-model="userInfo.Department" required />
                                                            </div>
                                                            <p ng-show="PersonalInfoForm.Deprt.$invalid && submitPersonalInfo " class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : (PersonalInfoForm.email.$invalid  || PersonalInfoForm.email.$error.pattern )&& submitPersonalInfo }">
                                                            Email ID
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                                <input type="text" class="form-control" name="email" value="" placeholder="Please fill Email" ng-disabled="userInfo.EmailID" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*&#64;[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="userInfo.EmailID" required />
                                                            </div>
                                                            <p ng-if="PersonalInfoForm.email.$error.pattern && submitPersonalInfo" class="help-block">Please enter valid Email ID</p>
                                                            <p ng-if="PersonalInfoForm.email.$error.required && submitPersonalInfo" class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{'has-error' : (PersonalInfoForm.phNo.$invalid ||PersonalInfoForm.phNo.$error.pattern) && submitPersonalInfo }">
                                                            Mobile No.
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                                                <input type="text" class="form-control" name="phNo" maxlength="10" value="" placeholder="Please fill Mobile No." ng-pattern="/^[7-9][0-9]{9}$/" onkeydown="validateNumber(event);" ng-model="userInfo.MobileNo" required />
                                                            </div>
                                                            <p ng-if="PersonalInfoForm.phNo.$error.pattern && submitPersonalInfo" class="help-block">Please enter valid number!</p>
                                                            <p ng-if="PersonalInfoForm.phNo.$error.required && submitPersonalInfo" class="help-block">This field is required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="text-align:right">
                                                <button type="submit" href="#" class="btn btn-danger " ng-click="PersonalInfoUpdate(userInfo)"><i class="glyphicon glyphicon-log-in"></i> Update</button>
                                            </div>
                                        </form>                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span style="padding: 10Px;"><i class="glyphicon glyphicon-plus"></i></span>Edit Hod Details</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-12" style="margin-bottom:15Px;">                                  
                                    <form name="HodInfoForm" novalidate>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : HodInfoForm.HName.$invalid && submitHodInfo  }">
                                                        HOD Name
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <span style="display: flex;">
                                                                <select class="form-control" ng-model="userInfo.HodTitle" name="HodTitle" style="width:43%" required>
                                                                    <option value="Mr">Mr</option>
                                                                    <option value="Ms">Ms</option>
                                                                </select>
                                                                <input type="text" class="form-control" name="HName" value="" placeholder="Please fill Hod Name" ng-model="userInfo.HodName" required />
                                                            </span>
                                                        </div>
                                                        <p ng-show="HodInfoForm.HName.$invalid && submitHodInfo " class="help-block">This field is required.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : (HodInfoForm.Hemail.$invalid  || HodInfoForm.Hemail.$error.pattern )&& submitHodInfo }">
                                                        HOD Email ID
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                            <input type="text" class="form-control" name="Hemail" value="" placeholder="Please fill Hod Email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*&#64;[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="userInfo.HodEmailId" required />
                                                        </div>
                                                        <p ng-if="HodInfoForm.Hemail.$error.pattern && submitHodInfo" class="help-block">Please enter valid Hod Email ID</p>
                                                        <p ng-if="HodInfoForm.Hemail.$error.required && submitHodInfo" class="help-block">This field is required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:right">
                                            <button type="submit" href="#" class="btn btn-danger " ng-click="HodInfoUpdate(userInfo)"><i class="glyphicon glyphicon-log-in"></i> Update</button>
                                        </div>
                                    </form>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span style="padding: 10Px;"><i class="glyphicon glyphicon-plus"></i></span> Change Password</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-12" style="margin-bottom:15Px;">                                   
                                    <form name="PasswordInfoForm" novalidate>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : PasswordInfoForm.OldPassword.$invalid && submitted }">
                                                        Current Password
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                            <input type="password" class="form-control" name="OldPassword" value="" placeholder="Please fill the Password" autocomplete="off" ng-model="Pwd.OldPwd" required />
                                                        </div>
                                                        <p ng-show="PasswordInfoForm.OldPassword.$invalid && submitted" class="help-block">This field is required.</p>
                                                        <p ng-if="wrongCurPssword" style="color:red">{{wrongCurPsswordtxt}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : PasswordInfoForm.NewPassword.$invalid && submitted }">
                                                        New Password
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                            <input type="password" class="form-control" name=" NewPassword" value="" placeholder="Please fill the Password" autocomplete="off" ng-model="Pwd.NewPwd" required />
                                                        </div>
                                                        <p ng-show="PasswordInfoForm.NewPassword.$invalid && submitted" class="help-block">This field is required.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{ 'has-error' :( PasswordInfoForm.confPassword.$invalid || (Pwd.NewPwd != Pwd.ConfirmPwd) ) && submitted}">
                                                        Confirm New Password
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                            <input type="password" class="form-control" name="confPassword" ng-model="Pwd.ConfirmPwd" autocomplete="off" placeholder="Please re-enter your Password." required password-verify="{{userInfo.Pwd}}" />
                                                        </div>
                                                        <p ng-if="submitted && (Pwd.NewPwd != Pwd.ConfirmPwd) && !PasswordInfoForm.confPassword.$error.required" class="help-block">Password not Match</p>
                                                        <p ng-if="PasswordInfoForm.confPassword.$error.required && submitted" class="help-block">This field is required.</p>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p ng-if="samePassword" style="color:red ; padding-left:15px">{{samePasswordtxt}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:right">
                                            <button type="submit" href="#" class="btn btn-danger " ng-click="PasswordInfoUpdate(Pwd)"><i class="glyphicon glyphicon-log-in"></i> Update</button>
                                        </div>
                                    </form>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>        
    <div>
        @*<footer class="essfooter" style="z-index:99999">
            <div class="container"></div>
        </footer>*@

    </div>

    <div class="loader">
        <center>
            <img class="loading-image" src="../images/loading.gif" alt="loading..">
        </center>
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
                var dv = document.getElementById("dvrecord");
                dv.style.display = "none";
                window.onload = function () {

                    alert("@ViewBag.Message");
                    window.close();
                    return;
                };

        </script>
    }
    @*<script type="text/javascript">
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        </script>*@
</body>
</html>

